
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -105px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 100px;
    text-align: center;
    width: 100%;
}
